# Port
PORT=3003
NODE_ENV=development
CORS_ORIGINS=http://localhost:3000

# Firebase
FIREBASE_API_KEY=your_firebase_api_key
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
FIREBASE_CLIENT_EMAIL=your_firebase_client_email
FIREBASE_PROJECT_ID=your_firebase_project_id
FIREBASE_STORAGE_BUCKET=your_firebase_storage_bucket

FIREBASE_COLLECTION_ACCOUNTS=accounts
FIREBASE_COLLECTION_PROPERTIES_LOCATION=properties_location
FIREBASE_COLLECTION_PROPERTIES_TYPE=properties_type
FIREBASE_COLLECTION_PROPERTIES_BADGE=properties_badge

# ImageKit
IMAGEKIT_PUBLIC_KEY=your_imagekit_public_key
IMAGEKIT_PRIVATE_KEY=your_imagekit_private_key
IMAGEKIT_URL_ENDPOINT=https://ik.imagekit.io/your_endpoint

# API Secret
API_SECRET=your_api_secret

# Session
SESSION_COOKIE_NAME=session
SESSION_EXPIRES_DAYS=7
COOKIE_SECURE=false
